/* Estilos para centralizar o texto ECOGUARD */
.ecoguard {
    text-align: center;
    margin-top: 50px; /* Ajuste a margem conforme necessário */
}

/* Estilos para os botões de Log In e Register */
button {
    background-color: #007BFF; /* Cor de fundo do botão */
    color: #fff; /* Cor do texto do botão */
    padding: 10px 20px; /* Espaçamento interno do botão */
    border: none;
    cursor: pointer;
    margin-top: 20px; /* Espaço entre o botão e os campos de entrada */
}

button:hover {
    background-color: #0056b3; /* Cor de fundo do botão quando o mouse passa por cima */
}
