<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>EcoGuard</title>
    <link rel="stylesheet" href="styles.css">
</head>
<body>
    <div class="container">
        <div class="login">
            <h1>Log In</h1>
            <!-- Formulário de Login -->
            <form>
                <!-- Campos de entrada, como nome de usuário e senha -->
                <button type="submit">Log In</button> <!-- Botão de Log In -->
            </form>
        </div>
        <div class="ecoguard">
            <h1>ECOGUARD</h1> <!-- Texto ECOGUARD no meio -->
        </div>
        <div class="register">
            <h1>Register</h1>
            <!-- Formulário de Registro -->
            <form>
                <!-- Campos de entrada para registro -->
                <button type="submit">Register</button> <!-- Botão de Register -->
            </form>
        </div>
    </div>
</body>
</html>




