{% extends "index.html" %}

{% block titulo %}
Perfil - {{ usuario.username }}
{% endblock %}

{% block body %}

{% block formulario %}
{% include "navbar.html" %}

<form method="POST" class="popup">
    {{ form.csrf_token }} <!-- Trava de segurança para enviar informações para o banco de dados -->
       <h2>Preencha os dados da ocorrência</h2>

    <div class="div-input">
        {{ form.local.label(class="label") }}
        {{ form.local(class="input") }}
    </div>

    <div class="div-input">
        {{ form.observacao.label(class="label") }}
        {{ form.observacao(class="input") }}
    </div>

    <div class="div-botao">
        {{ form.botao_confirmacao(class="botao-login") }}
    </div>
</form>
{% endblock %}

{% endblock %}