<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>EcoGuard</title>
    <link rel="stylesheet" href="style.css"> <!-- Adicione um arquivo CSS externo -->
</head>
<body>
    <div class="container">
        <div class="login">
            <h1>Log In</h1>
            <!-- Seu formulário de login aqui -->
        </div>
        <div class="register">
            <h1>Register</h1>
            <!-- Seu formulário de registro aqui -->
        </div>
    </div>
</body>
</html>


